{% extends "commun/header.html.twig" %}

{% block head %}
	{{ parent()}}
{% endblock %}

{% block body %}
	<br><br>
	<h1>
		Merci d'avoir rempli le formulaire
	</h1>
	<table>
		<tr>
			<td>Civilité</td>
			<td>{{civilite}}</td>
		</tr>
		<tr>
			<td>prénom</td>
			<td>{{prenom}}</td>
		</tr>
		<tr>
			<td>nom</td>
			<td>{{nom}}</td>
		</tr>
		<tr>
			<td>date de naissance</td>
			<td>{{datenaiss}}</td>
		</tr>
		<tr>
			<td>ville</td>
			<td>{{ville}}</td>
		</tr>
		<tr>
			<td>pays</td>
			<td>{{pays}}</td>
		</tr>
		<tr>
			<td>numero</td>
			<td>{{numero}}</td>
		</tr>
	</table>
	{{ civilite }}
	{{ prenom }}
	{{ nom }}
	{{ datenaiss}}
	{{ ville }}
	{{ pays }}
	{{ numero}}
{% endblock %}

{% block foot %}
	{{ parent()}}
{% endblock %}
